html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.page-header {
  text-align: center;
  font-size: 3em;
  margin-top: 3em;
}

.logo-img {
  width: 100%;
}

.logo-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* main container styles */
.main-container {
  margin: 0 auto;
  width: 50%;
}

/* To do list div styles */
.title {
  display: flex;
  justify-content: space-between;
}

.title h4 {
  padding: 1.5em 0 0 1.5em;
}

.refresh-icon {
  padding: 1.5em 2em 0 0;
}

.list-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  margin: 0 auto;
}

.list-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* List item styles */

.to-do-item {
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-task {
  border-bottom: 1px solid grey;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-list-item {
  border: 0;
  background: none;
  width: 80%;
}

.new-list-item:focus {
  outline: none;
}

.clear-content {
  text-align: center;
  padding: 1.5em;
  font-size: 1.1rem;
  background-color: #f6f6f6;
}
.button {
  background-color: #ad0d0d;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #f90707;
}

.task-description {
  border: 0;
  background: none;
  outline: none;
}

.edit-mode {
  background: yellow;
}

.update {
  outline: none;
  border: none;
  background: yellow;
}
